CONEXIONES E IMPORTACIONES

In [120]:
# Para tratamiento de datos
import pandas as pd
import numpy as np
import re #para llamar a Expresiones Regulares y estandarizar el nombre de las columnas.

# Para visualización de datos
import matplotlib.pyplot as plt
import seaborn as sns

# Para poder visualizar todas las columnas de los DataFrames
pd.set_option('display.max_columns', None) 

# Gestión de los warnings
import warnings
warnings.filterwarnings("ignore")

df_hr = pd.read_csv("./datasets/hr.csv")

# EDA

Fase 1: Análisis Exploratorio de Datos(EDA).

Antes de llevar a cabo el proyecto es crucial comprender mejor el conjunto de datos y sus características. Para ello deberás hacer un análisis exploratorio detallado del conjunto de datos para familiarizarte con ellos y entender que información tenemos.

## Columnas del Dataset

| Columna | Descripción |
| :--- | :--- |
| **Age** | Edad del empleado. |
| **Attrition** | Indica si el empleado dejó la empresa (**Yes/No**). |
| **BusinessTravel** | Frecuencia de viajes laborales (ej. Travel_Rarely, Travel_Frequently). |
| **DailyRate** | Tarifa diaria estimada basada en el salario. |
| **Department** | Departamento en el que trabaja el empleado. |
| **DistanceFromHome** | Distancia desde el hogar hasta el lugar de trabajo. |
| **Education** | Nivel educativo representado en una escala numérica. |
| **EducationField** | Campo o área de estudios del empleado. |
| **EmployeeCount** | Valor constante (normalmente 1), indica un empleado por registro. |
| **EmployeeNumber** | Identificador único del empleado. |
| **EnvironmentSatisfaction** | Nivel de satisfacción con el entorno laboral. |
| **Gender** | Género del empleado. |
| **HourlyRate** | Tarifa por hora estimada. |
| **JobInvolvement** | Nivel de implicación del empleado en su trabajo. |
| **JobLevel** | Nivel jerárquico del puesto. |
| **JobRole** | Rol o puesto específico del empleado. |
| **JobSatisfaction** | Nivel de satisfacción con el trabajo. |
| **MaritalStatus** | Estado civil del empleado. |
| **MonthlyIncome** | Ingreso mensual estimado. |
| **MonthlyRate** | Tarifa mensual estimada. |
| **NumCompaniesWorked** | Número de empresas en las que ha trabajado previamente. |
| **Over18** | Indica si el empleado es mayor de 18 años. |
| **OverTime** | Indica si el empleado realiza horas extra (**Yes/No**). |
| **PercentSalaryHike** | Porcentaje de incremento salarial. |
| **PerformanceRating** | Evaluación del desempeño del empleado. |
| **RelationshipSatisfaction** | Nivel de satisfacción con las relaciones laborales. |
| **StandardHours** | Horas estándar de trabajo. |
| **StockOptionLevel** | Nivel de opciones sobre acciones asignadas. |
| **TotalWorkingYears** | Total de años de experiencia laboral. |
| **TrainingTimesLastYear** | Número de formaciones recibidas en el último año. |
| **WorkLifeBalance** | Nivel de equilibrio entre vida personal y laboral. |
| **YearsAtCompany** | Años que el empleado lleva en la empresa. |
| **YearsInCurrentRole** | Años en el rol actual. |
| **YearsSinceLastPromotion** | Años transcurridos desde la última promoción. |
| **YearsWithCurrManager** | Años trabajando con el gerente actual. |

1. ✔ - Estandarizar nombre columnas
2. ✔ - eliminar duplicados (EmployeeNumber)
3. ✔ - borrar "EmployeeCount"
4. ✔ - revisar tipo datos
5. "Education" + "EducationField" - > revisar
6. ✔ - valorar cambiar los nombres de valores en según que columnas ("RelationshipSatisfaction", "PerformanceRating", )
7. Revisar nulos ("StandardHours")
8. ✔ - estandarizar columna "JobRole"

In [121]:
df_hr.head(2)

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,Gender,HourlyRate,JobInvolvement,JobLevel,JobRole,JobSatisfaction,MaritalStatus,MonthlyIncome,MonthlyRate,NumCompaniesWorked,Over18,OverTime,PercentSalaryHike,PerformanceRating,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41.0,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,2,Female,94,3,2,sALES eXECUTIVE,4.0,Single,5993.0,19479,8,Y,Yes,11,3,1,80.0,0,8,0.0,1,6,4,0,5.0
1,49.0,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,3,Male,61,2,2,rESEARCH sCIENTIST,2.0,Married,5130.0,24907,1,Y,No,23,4,4,NaN,1,10,3.0,3,10,7,1,7.0

In [122]:
df_hr.describe().T

,count,mean,std,min,25%,50%,75%,max
Age,1401.0,36.944325,9.105009,18.0,30.00,36.0,43.00,60.0
DailyRate,1474.0,802.702171,403.539530,102.0,465.00,803.0,1157.00,1499.0
DistanceFromHome,1474.0,9.199457,8.104266,1.0,2.00,7.0,14.00,29.0
Education,1474.0,2.911126,1.024267,1.0,2.00,3.0,4.00,5.0
EmployeeCount,1474.0,1.000000,0.000000,1.0,1.00,1.0,1.00,1.0
EmployeeNumber,1474.0,1024.471506,602.421193,1.0,488.75,1020.5,1555.75,2068.0
EnvironmentSatisfaction,1474.0,2.723881,1.093280,1.0,2.00,3.0,4.00,4.0
HourlyRate,1474.0,65.887381,20.310444,30.0,48.00,66.0,83.75,100.0
JobInvolvement,1474.0,2.729986,0.712861,1.0,2.00,3.0,3.00,4.0
JobLevel,1474.0,2.063772,1.106055,1.0,1.00,2.0,3.00,5.0
JobSatisfaction,1445.0,2.728720,1.106409,1.0,2.00,3.0,4.00,4.0
MonthlyIncome,1460.0,6497.448630,4706.059294,1009.0,2909.00,4907.0,8377.00,19999.0
MonthlyRate,1474.0,14328.611940,7120.225285,2094.0,8054.50,14248.5,20465.75,26999.0
NumCompaniesWorked,1474.0,2.688602,2.496443,0.0,1.00,2.0,4.00,9.0
PercentSalaryHike,1474.0,15.206920,3.659274,11.0,12.00,14.0,18.00,25.0
PerformanceRating,1474.0,3.153324,0.360422,3.0,3.00,3.0,3.00,4.0
RelationshipSatisfaction,1474.0,2.713704,1.080338,1.0,2.00,3.0,4.00,4.0
StandardHours,1310.0,80.000000,0.000000,80.0,80.00,80.0,80.00,80.0
StockOptionLevel,1474.0,0.794437,0.851784,0.0,0.00,1.0,1.00,3.0
TotalWorkingYears,1474.0,11.274084,7.785972,0.0,6.00,10.0,15.00,40.0
TrainingTimesLastYear,1386.0,2.797980,1.296882,0.0,2.00,3.0,3.00,6.0
WorkLifeBalance,1474.0,2.761872,0.705625,1.0,2.00,3.0,3.00,4.0
YearsAtCompany,1474.0,6.996608,6.122920,0.0,3.00,5.0,9.00,40.0
YearsInCurrentRole,1474.0,4.221845,3.622032,0.0,2.00,3.0,7.00,18.0
YearsSinceLastPromotion,1474.0,2.183175,3.219356,0.0,0.00,1.0,3.00,15.0
YearsWithCurrManager,1326.0,4.061840,3.517603,0.0,2.00,3.0,7.00,17.0

In [123]:
df_hr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1474 entries, 0 to 1473
Data columns (total 35 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       1401 non-null   float64
 1   Attrition                 1474 non-null   object
 2   BusinessTravel            1357 non-null   object
 3   DailyRate                 1474 non-null   int64
 4   Department                1445 non-null   object
 5   DistanceFromHome          1474 non-null   int64
 6   Education                 1474 non-null   int64
 7   EducationField            1416 non-null   object
 8   EmployeeCount             1474 non-null   int64
 9   EmployeeNumber            1474 non-null   int64
 10  EnvironmentSatisfaction   1474 non-null   int64
 11  Gender                    1474 non-null   object
 12  HourlyRate                1474 non-null   int64
 13  JobInvolvement            1474 non-null   int64
 14  JobLevel                  1474 non-null   int64
 15  JobRole                   1474 non-null   object
 16  JobSatisfaction           1445 non-null   float64
 17  MaritalStatus             1342 non-null   object
 18  MonthlyIncome             1460 non-null   float64
 19  MonthlyRate               1474 non-null   int64
 20  NumCompaniesWorked        1474 non-null   int64
 21  Over18                    1474 non-null   object
 22  OverTime                  1430 non-null   object
 23  PercentSalaryHike         1474 non-null   int64
 24  PerformanceRating         1474 non-null   int64
 25  RelationshipSatisfaction  1474 non-null   int64
 26  StandardHours             1310 non-null   float64
 27  StockOptionLevel          1474 non-null   int64
 28  TotalWorkingYears         1474 non-null   int64
 29  TrainingTimesLastYear     1386 non-null   float64
 30  WorkLifeBalance           1474 non-null   int64
 31  YearsAtCompany            1474 non-null   int64
 32  YearsInCurrentRole        1474 non-null   int64
 33  YearsSinceLastPromotion   1474 non-null   int64
 34  YearsWithCurrManager      1326 non-null   float64
dtypes: float64(6), int64(20), object(9)
memory usage: 403.2+ KB

## Estandarización columnas

In [124]:
# Estandarizamos el tipo de dato para las columnas numéricas, de float a INT.
def cambiar_int(col):
    if isinstance(col, str):
        col = [col]

    for i in col:
        df_hr[i] = df_hr[i].astype("Int64")

In [125]:
columnas_a_cambiar = ["Age", "StandardHours", "TrainingTimesLastYear", "YearsWithCurrManager"]

cambiar_int(columnas_a_cambiar)

In [126]:
# Hay valores numéricos de grados de interpretación, los actualizamos para que sea más visual.
# Usamos una función para las variables que muestran los mismos niveles y para las que tienen valores únicos respecto al resto de columnas las hacemos 1:1

def cat_low_veryhigh(col):
    niveles = {
        1: "Low",
        2: "Medium",
        3: "High",
        4: "Very High"}
    df_hr[col] = df_hr[col].replace(niveles)

In [127]:
columnas_a_cambiar = ["EnvironmentSatisfaction", "JobInvolvement", "JobSatisfaction", "RelationshipSatisfaction"]

cat_low_veryhigh(columnas_a_cambiar)

In [128]:
for fi in df_hr["WorkLifeBalance"]:
        niveles = {
              1: "Bad",
              2: "Good",
              3: "Better",
              4: "Best"  
        }
        df_hr["WorkLifeBalance"] = df_hr["WorkLifeBalance"].replace(niveles)

In [129]:
for fi in df_hr["Education"]:
        niveles = {
              1: "Below College",
              2: "College",
              3: "Bachelor",
              4: "Master",
              5: "Doctor"
        }
        df_hr["Education"] = df_hr["Education"].replace(niveles)

In [130]:
for fi in df_hr["PerformanceRating"]:
        niveles = {
              1: "Low",
              2: "Good",
              3: "Excellent",
              4: "Outstanding"
        }
        df_hr["PerformanceRating"] = df_hr["PerformanceRating"].replace(niveles)

In [134]:
df_hr.head(2)

,age,attrition,business_travel,daily_rate,department,distance_from_home,education,education_field,employee_count,employee_number,environment_satisfaction,gender,hourly_rate,job_involvement,job_level,job_role,job_satisfaction,marital_status,monthly_income,monthly_rate,num_companies_worked,over18,over_time,percent_salary_hike,performance_rating,relationship_satisfaction,standard_hours,stock_option_level,total_working_years,training_times_last_year,work_life_balance,years_at_company,years_in_current_role,years_since_last_promotion,years_with_curr_manager
0,41,Yes,Travel Rarely,1102,Sales,1,College,Life Sciences,1,1,Medium,Female,94,High,2,Sales Executive,Very High,Single,5993.0,19479,8,Y,Yes,11,Excellent,Low,80,0,8,0,Bad,6,4,0,5
1,49,No,Travel Frequently,279,Research & Development,8,Below College,Life Sciences,1,2,High,Male,61,Medium,2,Research Scientist,Medium,Married,5130.0,24907,1,Y,No,23,Outstanding,Very High,<NA>,1,10,3,Better,10,7,1,7

In [133]:
def estandarizar_todo(df):
    # 1. Limpiar los nombres de las COLUMNAS
    # Pasamos de 'BusinessTravel' -> 'Business Travel' -> 'business_travel'
    import re
    
    def limpiar_nombre(nombre):
        # Insertar espacio antes de mayúsculas (para separar PascalCase)
        nombre = re.sub(r'(?<!^)(?=[A-Z])', ' ', nombre)
        # Limpiar guiones bajos previos, pasar a minúsculas y quitar espacios extra
        return nombre.replace('_', ' ').lower().strip().replace(' ', '_')

    df.columns = [limpiar_nombre(col) for col in df.columns]

    # 2. Limpiar el CONTENIDO de las filas (solo columnas de texto)
    cols_texto = df.select_dtypes(include=['object']).columns
    
    for col in cols_texto:
        df[col] = (df[col]
                   .str.replace("_", " ", regex=False)
                   .str.title()
                   .str.strip())
    
    return df

# Aplicar al DF
df_hr = estandarizar_todo(df_hr)

## Nulos

In [109]:
df_hr.isnull().sum()

Age                          73
Attrition                     0
BusinessTravel              117
DailyRate                     0
Department                   29
DistanceFromHome              0
Education                     0
EducationField               58
EmployeeCount                 0
EmployeeNumber                0
EnvironmentSatisfaction       0
Gender                        0
HourlyRate                    0
JobInvolvement                0
JobLevel                      0
JobRole                       0
JobSatisfaction              29
MaritalStatus               132
MonthlyIncome                14
MonthlyRate                   0
NumCompaniesWorked            0
Over18                        0
OverTime                     44
PercentSalaryHike             0
PerformanceRating             0
RelationshipSatisfaction      0
StandardHours               164
StockOptionLevel              0
TotalWorkingYears             0
TrainingTimesLastYear        88
WorkLifeBalance               0
YearsAtCompany                0
YearsInCurrentRole            0
YearsSinceLastPromotion       0
YearsWithCurrManager        148
dtype: int64

## Duplicados

In [110]:
# Se localizan 4 duplicados, resolveremos más adelante de qué se tratan y se valorarán borrarlos.
df_hr.duplicated().sum()

4

In [111]:
duplicados_por_columna = df_hr.apply(lambda x: x.duplicated().sum())

print(duplicados_por_columna)

Age                         1430
Attrition                   1472
BusinessTravel              1470
DailyRate                    588
Department                  1470
DistanceFromHome            1445
Education                   1469
EducationField              1467
EmployeeCount               1473
EmployeeNumber                 4
EnvironmentSatisfaction     1470
Gender                      1472
HourlyRate                  1403
JobInvolvement              1470
JobLevel                    1469
JobRole                     1465
JobSatisfaction             1469
MaritalStatus               1469
MonthlyIncome                137
MonthlyRate                   47
NumCompaniesWorked          1464
Over18                      1473
OverTime                    1471
PercentSalaryHike           1459
PerformanceRating           1472
RelationshipSatisfaction    1470
StandardHours               1472
StockOptionLevel            1470
TotalWorkingYears           1434
TrainingTimesLastYear       1466
WorkLifeBalance             1470
YearsAtCompany              1437
YearsInCurrentRole          1455
YearsSinceLastPromotion     1458
YearsWithCurrManager        1455
dtype: int64

In [112]:
#Localizamos que los duplicados se encuentran en número de empleado, lo cual es muy importante subsanar.
df_hr["EmployeeNumber"].duplicated().value_counts()

EmployeeNumber
False    1470
True        4
Name: count, dtype: int64

In [113]:
# Creamos un nuevo DataFrame solo con las filas donde el ID de empleado está repetido
duplicados_id = df_hr[df_hr.duplicated(subset=['EmployeeNumber'], keep=False)]

# Ordenamos por esa columna para ver los repetidos uno al lado del otro
duplicados_id = duplicados_id.sort_values(by='EmployeeNumber')

duplicados_id

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,Gender,HourlyRate,JobInvolvement,JobLevel,JobRole,JobSatisfaction,MaritalStatus,MonthlyIncome,MonthlyRate,NumCompaniesWorked,Over18,OverTime,PercentSalaryHike,PerformanceRating,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
67,45,No,Travel Rarely,1339,Research & Development,7,Bachelor,Life Sciences,1,86,Medium,Male,59,High,3,Research Scientist,Low,Divorced,9724.0,18787,2,Y,No,17,Excellent,High,<NA>,1,25,2,Better,1,0,0,0
1473,45,No,Travel Rarely,1339,Research & Development,7,Bachelor,Life Sciences,1,86,Medium,Male,59,High,3,Research Scientist,Low,Divorced,9724.0,18787,2,Y,No,17,Excellent,High,<NA>,1,25,2,Better,1,0,0,0
184,53,No,Travel Rarely,1084,Research & Development,13,College,Medical,1,250,Very High,Female,57,Very High,2,Manufacturing Director,Low,Divorced,4450.0,26250,1,Y,No,11,Excellent,High,<NA>,2,5,3,Better,4,2,1,3
1471,53,No,Travel Rarely,1084,Research & Development,13,College,Medical,1,250,Very High,Female,57,Very High,2,Manufacturing Director,Low,Divorced,4450.0,26250,1,Y,No,11,Excellent,High,<NA>,2,5,3,Better,4,2,1,3
1041,28,No,Travel Rarely,866,Sales,5,Bachelor,Medical,1,1469,Very High,Male,84,High,2,Sales Executive,Low,Single,8463.0,23490,0,Y,No,18,Excellent,Very High,<NA>,0,6,4,Better,5,4,1,<NA>
1470,28,No,Travel Rarely,866,Sales,5,Bachelor,Medical,1,1469,Very High,Male,84,High,2,Sales Executive,Low,Single,8463.0,23490,0,Y,No,18,Excellent,Very High,<NA>,0,6,4,Better,5,4,1,<NA>
1222,24,Yes,Travel Rarely,240,Human Resources,22,Below College,Human Resources,1,1714,Very High,Male,58,Low,1,Human Resources,High,Married,1555.0,11585,1,Y,No,11,Excellent,High,80,1,1,2,Better,1,0,0,0
1472,24,Yes,Travel Rarely,240,Human Resources,22,Below College,Human Resources,1,1714,Very High,Male,58,Low,1,Human Resources,High,Married,1555.0,11585,1,Y,No,11,Excellent,High,80,1,1,2,Better,1,0,0,0

In [114]:
# Se localizan duplicados de 4 empleados por número de empleado, por lo que los borramos manteniendo el primero.
# Las líneas se encuentran totalmente repetidas, por lo que podemos borrarlas sin problema.

df_hr.drop_duplicates(subset = ['EmployeeNumber'], inplace = True)

## Eliminación columnas

In [115]:
# Creamos una función de borrado de columnas, para poder reutilizar en caso de que sea necesario más adelante.

def eliminar_columnas(col):
    df_hr.drop(col, axis=1, inplace= True)

In [116]:
#todos tienen el mismo valor, no aporta información real, por lo que procedemos a borrarla.

df_hr["EmployeeCount"].unique()

array([1], dtype=int64)

In [117]:
eliminar_columnas("EmployeeCount")

In [118]:
df_hr

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeNumber,EnvironmentSatisfaction,Gender,HourlyRate,JobInvolvement,JobLevel,JobRole,JobSatisfaction,MaritalStatus,MonthlyIncome,MonthlyRate,NumCompaniesWorked,Over18,OverTime,PercentSalaryHike,PerformanceRating,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel Rarely,1102,Sales,1,College,Life Sciences,1,Medium,Female,94,High,2,Sales Executive,Very High,Single,5993.0,19479,8,Y,Yes,11,Excellent,Low,80,0,8,0,Bad,6,4,0,5
1,49,No,Travel Frequently,279,Research & Development,8,Below College,Life Sciences,2,High,Male,61,Medium,2,Research Scientist,Medium,Married,5130.0,24907,1,Y,No,23,Outstanding,Very High,<NA>,1,10,3,Better,10,7,1,7
2,37,Yes,Travel Rarely,1373,Research & Development,2,College,Other,4,Very High,Male,92,Medium,1,Laboratory Technician,High,Single,2090.0,2396,6,Y,Yes,15,Excellent,Medium,<NA>,0,7,3,Better,0,0,0,0
3,33,No,Travel Frequently,1392,Research & Development,3,Master,Life Sciences,5,Very High,Female,56,High,1,Research Scientist,High,Married,2909.0,23159,1,Y,Yes,11,Excellent,High,80,0,8,3,Better,8,7,3,0
4,27,No,Travel Rarely,591,Research & Development,2,Below College,Medical,7,Low,Male,40,High,1,Laboratory Technician,Medium,Married,3468.0,16632,9,Y,No,12,Excellent,Very High,80,1,6,3,Better,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465,36,No,Travel Frequently,884,Research & Development,23,College,Medical,2061,High,Male,41,Very High,2,Laboratory Technician,Very High,Married,2571.0,12290,4,Y,No,17,Excellent,High,80,1,17,3,Better,5,2,0,3
1466,39,No,Travel Rarely,613,Research & Development,6,Below College,Medical,2062,Very High,Male,42,Medium,3,Healthcare Representative,Low,Married,9991.0,21457,4,Y,No,15,Excellent,Low,80,1,9,5,Better,7,7,1,7
1467,27,No,Travel Rarely,155,Research & Development,4,Bachelor,Life Sciences,2064,Medium,Male,87,Very High,2,Manufacturing Director,Medium,Married,6142.0,5174,1,Y,Yes,20,Outstanding,Medium,80,1,6,0,Better,6,2,0,3
1468,49,No,Travel Frequently,1023,Sales,2,Bachelor,Medical,2065,Very High,Male,63,Medium,2,Sales Executive,Medium,Married,5390.0,13243,2,Y,No,14,Excellent,Very High,80,0,17,3,Good,9,6,0,8
1469,34,No,Travel Rarely,628,Research & Development,8,Bachelor,Medical,2068,Medium,Male,82,Very High,2,Laboratory Technician,High,Married,4404.0,10228,2,Y,No,12,Excellent,Low,<NA>,0,6,3,Best,4,3,1,2