CONEXIONES E IMPORTACIONES

In [8]:
# Para tratamiento de datos
import pandas as pd
import numpy as np
import re #para llamar a Expresiones Regulares y estandarizar el nombre de las columnas.

# Para visualización de datos
import matplotlib.pyplot as plt
import seaborn as sns

# Para poder visualizar todas las columnas de los DataFrames
pd.set_option('display.max_columns', None) 

# Gestión de los warnings
import warnings
warnings.filterwarnings("ignore")

df_hr = pd.read_csv("./datasets/hr.csv")

# EDA

Fase 1: Análisis Exploratorio de Datos(EDA).

Antes de llevar a cabo el proyecto es crucial comprender mejor el conjunto de datos y sus características. Para ello deberás hacer un análisis exploratorio detallado del conjunto de datos para familiarizarte con ellos y entender que información tenemos.

## Columnas del Dataset

| Columna | Descripción |
| :--- | :--- |
| **Age** | Edad del empleado. |
| **Attrition** | Indica si el empleado dejó la empresa (**Yes/No**). |
| **BusinessTravel** | Frecuencia de viajes laborales (ej. Travel_Rarely, Travel_Frequently). |
| **DailyRate** | Tarifa diaria estimada basada en el salario. |
| **Department** | Departamento en el que trabaja el empleado. |
| **DistanceFromHome** | Distancia desde el hogar hasta el lugar de trabajo. |
| **Education** | Nivel educativo representado en una escala numérica. |
| **EducationField** | Campo o área de estudios del empleado. |
| **EmployeeCount** | Valor constante (normalmente 1), indica un empleado por registro. |
| **EmployeeNumber** | Identificador único del empleado. |
| **EnvironmentSatisfaction** | Nivel de satisfacción con el entorno laboral. |
| **Gender** | Género del empleado. |
| **HourlyRate** | Tarifa por hora estimada. |
| **JobInvolvement** | Nivel de implicación del empleado en su trabajo. |
| **JobLevel** | Nivel jerárquico del puesto. |
| **JobRole** | Rol o puesto específico del empleado. |
| **JobSatisfaction** | Nivel de satisfacción con el trabajo. |
| **MaritalStatus** | Estado civil del empleado. |
| **MonthlyIncome** | Ingreso mensual estimado. |
| **MonthlyRate** | Tarifa mensual estimada. |
| **NumCompaniesWorked** | Número de empresas en las que ha trabajado previamente. |
| **Over18** | Indica si el empleado es mayor de 18 años. |
| **OverTime** | Indica si el empleado realiza horas extra (**Yes/No**). |
| **PercentSalaryHike** | Porcentaje de incremento salarial. |
| **PerformanceRating** | Evaluación del desempeño del empleado. |
| **RelationshipSatisfaction** | Nivel de satisfacción con las relaciones laborales. |
| **StandardHours** | Horas estándar de trabajo. |
| **StockOptionLevel** | Nivel de opciones sobre acciones asignadas. |
| **TotalWorkingYears** | Total de años de experiencia laboral. |
| **TrainingTimesLastYear** | Número de formaciones recibidas en el último año. |
| **WorkLifeBalance** | Nivel de equilibrio entre vida personal y laboral. |
| **YearsAtCompany** | Años que el empleado lleva en la empresa. |
| **YearsInCurrentRole** | Años en el rol actual. |
| **YearsSinceLastPromotion** | Años transcurridos desde la última promoción. |
| **YearsWithCurrManager** | Años trabajando con el gerente actual. |

1. ✔ - Estandarizar nombre columnas
2. ✔ - eliminar duplicados (EmployeeNumber)
3. ✔ - borrar "EmployeeCount"
4. ✔ - revisar tipo datos
5. "Education" + "EducationField" - > revisar
6. ✔ - valorar cambiar los nombres de valores en según que columnas ("RelationshipSatisfaction", "PerformanceRating", )
7. Revisar nulos ("StandardHours")
8. ✔ - estandarizar columna "JobRole"

In [9]:
df_hr.head(2)

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,Gender,HourlyRate,JobInvolvement,JobLevel,JobRole,JobSatisfaction,MaritalStatus,MonthlyIncome,MonthlyRate,NumCompaniesWorked,Over18,OverTime,PercentSalaryHike,PerformanceRating,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41.0,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,2,Female,94,3,2,sALES eXECUTIVE,4.0,Single,5993.0,19479,8,Y,Yes,11,3,1,80.0,0,8,0.0,1,6,4,0,5.0
1,49.0,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,3,Male,61,2,2,rESEARCH sCIENTIST,2.0,Married,5130.0,24907,1,Y,No,23,4,4,NaN,1,10,3.0,3,10,7,1,7.0

In [10]:
df_hr.describe().T

,count,mean,std,min,25%,50%,75%,max
Age,1401.0,36.944325,9.105009,18.0,30.00,36.0,43.00,60.0
DailyRate,1474.0,802.702171,403.539530,102.0,465.00,803.0,1157.00,1499.0
DistanceFromHome,1474.0,9.199457,8.104266,1.0,2.00,7.0,14.00,29.0
Education,1474.0,2.911126,1.024267,1.0,2.00,3.0,4.00,5.0
EmployeeCount,1474.0,1.000000,0.000000,1.0,1.00,1.0,1.00,1.0
EmployeeNumber,1474.0,1024.471506,602.421193,1.0,488.75,1020.5,1555.75,2068.0
EnvironmentSatisfaction,1474.0,2.723881,1.093280,1.0,2.00,3.0,4.00,4.0
HourlyRate,1474.0,65.887381,20.310444,30.0,48.00,66.0,83.75,100.0
JobInvolvement,1474.0,2.729986,0.712861,1.0,2.00,3.0,3.00,4.0
JobLevel,1474.0,2.063772,1.106055,1.0,1.00,2.0,3.00,5.0
JobSatisfaction,1445.0,2.728720,1.106409,1.0,2.00,3.0,4.00,4.0
MonthlyIncome,1460.0,6497.448630,4706.059294,1009.0,2909.00,4907.0,8377.00,19999.0
MonthlyRate,1474.0,14328.611940,7120.225285,2094.0,8054.50,14248.5,20465.75,26999.0
NumCompaniesWorked,1474.0,2.688602,2.496443,0.0,1.00,2.0,4.00,9.0
PercentSalaryHike,1474.0,15.206920,3.659274,11.0,12.00,14.0,18.00,25.0
PerformanceRating,1474.0,3.153324,0.360422,3.0,3.00,3.0,3.00,4.0
RelationshipSatisfaction,1474.0,2.713704,1.080338,1.0,2.00,3.0,4.00,4.0
StandardHours,1310.0,80.000000,0.000000,80.0,80.00,80.0,80.00,80.0
StockOptionLevel,1474.0,0.794437,0.851784,0.0,0.00,1.0,1.00,3.0
TotalWorkingYears,1474.0,11.274084,7.785972,0.0,6.00,10.0,15.00,40.0
TrainingTimesLastYear,1386.0,2.797980,1.296882,0.0,2.00,3.0,3.00,6.0
WorkLifeBalance,1474.0,2.761872,0.705625,1.0,2.00,3.0,3.00,4.0
YearsAtCompany,1474.0,6.996608,6.122920,0.0,3.00,5.0,9.00,40.0
YearsInCurrentRole,1474.0,4.221845,3.622032,0.0,2.00,3.0,7.00,18.0
YearsSinceLastPromotion,1474.0,2.183175,3.219356,0.0,0.00,1.0,3.00,15.0
YearsWithCurrManager,1326.0,4.061840,3.517603,0.0,2.00,3.0,7.00,17.0

In [27]:
df_hr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1474 entries, 0 to 1473
Data columns (total 35 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   age                         1401 non-null   float64
 1   attrition                   1474 non-null   object
 2   business_travel             1357 non-null   object
 3   daily_rate                  1474 non-null   int64
 4   department                  1445 non-null   object
 5   distance_from_home          1474 non-null   int64
 6   education                   1474 non-null   object
 7   education_field             1416 non-null   object
 8   employee_count              1474 non-null   int64
 9   employee_number             1474 non-null   int64
 10  environment_satisfaction    1474 non-null   object
 11  gender                      1474 non-null   object
 12  hourly_rate                 1474 non-null   int64
 13  job_involvement             1474 non-null   object
 14  job_level                   1474 non-null   int64
 15  job_role                    1474 non-null   object
 16  job_satisfaction            1445 non-null   object
 17  marital_status              1342 non-null   object
 18  monthly_income              1460 non-null   float64
 19  monthly_rate                1474 non-null   int64
 20  num_companies_worked        1474 non-null   int64
 21  over18                      1474 non-null   object
 22  over_time                   1430 non-null   object
 23  percent_salary_hike         1474 non-null   int64
 24  performance_rating          1474 non-null   object
 25  relationship_satisfaction   1474 non-null   object
 26  standard_hours              1474 non-null   float64
 27  stock_option_level          1474 non-null   int64
 28  total_working_years         1474 non-null   int64
 29  training_times_last_year    1386 non-null   float64
 30  work_life_balance           1474 non-null   object
 31  years_at_company            1474 non-null   int64
 32  years_in_current_role       1474 non-null   int64
 33  years_since_last_promotion  1474 non-null   int64
 34  years_with_curr_manager     1474 non-null   float64
dtypes: float64(5), int64(14), object(16)
memory usage: 403.2+ KB

## Estandarización columnas

In [12]:
df_hr["YearsWithCurrManager"] = df_hr["YearsWithCurrManager"].fillna(df_hr["YearsWithCurrManager"].mean())
df_hr["StandardHours"] = df_hr["StandardHours"].fillna(df_hr["StandardHours"].mean())

In [ ]:
# Estandarizamos el tipo de dato para las columnas numéricas, de float a INT.
# def cambiar_int(col):
#     if isinstance(col, str):
#         col = [col]

#     for i in col:
#         df_hr[i] = df_hr[i].astype("Int64")

# columnas_a_cambiar = ["Age", "StandardHours", "TrainingTimesLastYear", "YearsWithCurrManager"]

# cambiar_int(columnas_a_cambiar)

In [15]:
# Hay valores numéricos de grados de interpretación, los actualizamos para que sea más visual.
# Usamos una función para las variables que muestran los mismos niveles y para las que tienen valores únicos respecto al resto de columnas las hacemos 1:1

def cat_low_veryhigh(col):
    niveles = {
        1: "Low",
        2: "Medium",
        3: "High",
        4: "Very High"}
    df_hr[col] = df_hr[col].replace(niveles)

In [16]:
columnas_a_cambiar = ["EnvironmentSatisfaction", "JobInvolvement", "JobSatisfaction", "RelationshipSatisfaction"]

cat_low_veryhigh(columnas_a_cambiar)

In [17]:
for fi in df_hr["WorkLifeBalance"]:
        niveles = {
              1: "Bad",
              2: "Good",
              3: "Better",
              4: "Best"  
        }
        df_hr["WorkLifeBalance"] = df_hr["WorkLifeBalance"].replace(niveles)

In [18]:
for fi in df_hr["Education"]:
        niveles = {
              1: "Below College",
              2: "College",
              3: "Bachelor",
              4: "Master",
              5: "Doctor"
        }
        df_hr["Education"] = df_hr["Education"].replace(niveles)

In [19]:
for fi in df_hr["PerformanceRating"]:
        niveles = {
              1: "Low",
              2: "Good",
              3: "Excellent",
              4: "Outstanding"
        }
        df_hr["PerformanceRating"] = df_hr["PerformanceRating"].replace(niveles)

In [20]:
df_hr.head(2)

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,Gender,HourlyRate,JobInvolvement,JobLevel,JobRole,JobSatisfaction,MaritalStatus,MonthlyIncome,MonthlyRate,NumCompaniesWorked,Over18,OverTime,PercentSalaryHike,PerformanceRating,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41.0,Yes,Travel_Rarely,1102,Sales,1,College,Life Sciences,1,1,Medium,Female,94,High,2,sALES eXECUTIVE,Very High,Single,5993.0,19479,8,Y,Yes,11,Excellent,Low,80.0,0,8,0.0,Bad,6,4,0,5.0
1,49.0,No,Travel_Frequently,279,Research & Development,8,Below College,Life Sciences,1,2,High,Male,61,Medium,2,rESEARCH sCIENTIST,Medium,Married,5130.0,24907,1,Y,No,23,Outstanding,Very High,80.0,1,10,3.0,Better,10,7,1,7.0

In [21]:
def estandarizar_todo(df):
    # 1. Limpiar los nombres de las COLUMNAS
    # Pasamos de 'BusinessTravel' -> 'Business Travel' -> 'business_travel'
    import re
    
    def limpiar_nombre(nombre):
        # Insertar espacio antes de mayúsculas (para separar PascalCase)
        nombre = re.sub(r'(?<!^)(?=[A-Z])', ' ', nombre)
        # Limpiar guiones bajos previos, pasar a minúsculas y quitar espacios extra
        return nombre.replace('_', ' ').lower().strip().replace(' ', '_')

    df.columns = [limpiar_nombre(col) for col in df.columns]

    # 2. Limpiar el CONTENIDO de las filas (solo columnas de texto)
    cols_texto = df.select_dtypes(include=['object']).columns
    
    for col in cols_texto:
        df[col] = (df[col]
                   .str.replace("_", " ", regex=False)
                   .str.title()
                   .str.strip())
    
    return df

# Aplicar al DF
df_hr = estandarizar_todo(df_hr)

## Nulos

In [22]:
df_hr.isnull().sum()

age                            73
attrition                       0
business_travel               117
daily_rate                      0
department                     29
distance_from_home              0
education                       0
education_field                58
employee_count                  0
employee_number                 0
environment_satisfaction        0
gender                          0
hourly_rate                     0
job_involvement                 0
job_level                       0
job_role                        0
job_satisfaction               29
marital_status                132
monthly_income                 14
monthly_rate                    0
num_companies_worked            0
over18                          0
over_time                      44
percent_salary_hike             0
performance_rating              0
relationship_satisfaction       0
standard_hours                  0
stock_option_level              0
total_working_years             0
training_times_last_year       88
work_life_balance               0
years_at_company                0
years_in_current_role           0
years_since_last_promotion      0
years_with_curr_manager         0
dtype: int64

In [23]:
df_hr.isna().sum()/df_hr.shape[0]*100

age                           4.952510
attrition                     0.000000
business_travel               7.937585
daily_rate                    0.000000
department                    1.967436
distance_from_home            0.000000
education                     0.000000
education_field               3.934871
employee_count                0.000000
employee_number               0.000000
environment_satisfaction      0.000000
gender                        0.000000
hourly_rate                   0.000000
job_involvement               0.000000
job_level                     0.000000
job_role                      0.000000
job_satisfaction              1.967436
marital_status                8.955224
monthly_income                0.949796
monthly_rate                  0.000000
num_companies_worked          0.000000
over18                        0.000000
over_time                     2.985075
percent_salary_hike           0.000000
performance_rating            0.000000
relationship_satisfaction     0.000000
standard_hours                0.000000
stock_option_level            0.000000
total_working_years           0.000000
training_times_last_year      5.970149
work_life_balance             0.000000
years_at_company              0.000000
years_in_current_role         0.000000
years_since_last_promotion    0.000000
years_with_curr_manager       0.000000
dtype: float64

## Duplicados

In [24]:
# Se localizan 4 duplicados, resolveremos más adelante de qué se tratan y se valorarán borrarlos.
df_hr.duplicated().sum()

4

In [25]:
duplicados_por_columna = df_hr.apply(lambda x: x.duplicated().sum())

print(duplicados_por_columna)

age                           1430
attrition                     1472
business_travel               1470
daily_rate                     588
department                    1470
distance_from_home            1445
education                     1469
education_field               1467
employee_count                1473
employee_number                  4
environment_satisfaction      1470
gender                        1472
hourly_rate                   1403
job_involvement               1470
job_level                     1469
job_role                      1465
job_satisfaction              1469
marital_status                1469
monthly_income                 137
monthly_rate                    47
num_companies_worked          1464
over18                        1473
over_time                     1471
percent_salary_hike           1459
performance_rating            1472
relationship_satisfaction     1470
standard_hours                1473
stock_option_level            1470
total_working_years           1434
training_times_last_year      1466
work_life_balance             1470
years_at_company              1437
years_in_current_role         1455
years_since_last_promotion    1458
years_with_curr_manager       1455
dtype: int64

In [26]:
#Localizamos que los duplicados se encuentran en número de empleado, lo cual es muy importante subsanar.
df_hr["EmployeeNumber"].duplicated().value_counts()

KeyError: 'EmployeeNumber'

In [ ]:
# Creamos un nuevo DataFrame solo con las filas donde el ID de empleado está repetido
duplicados_id = df_hr[df_hr.duplicated(subset=['EmployeeNumber'], keep=False)]

# Ordenamos por esa columna para ver los repetidos uno al lado del otro
duplicados_id = duplicados_id.sort_values(by='EmployeeNumber')

duplicados_id

In [ ]:
# Se localizan duplicados de 4 empleados por número de empleado, por lo que los borramos manteniendo el primero.
# Las líneas se encuentran totalmente repetidas, por lo que podemos borrarlas sin problema.

df_hr.drop_duplicates(subset = ['EmployeeNumber'], inplace = True)

## Eliminación columnas

In [ ]:
# Creamos una función de borrado de columnas, para poder reutilizar en caso de que sea necesario más adelante.

def eliminar_columnas(col):
    df_hr.drop(col, axis=1, inplace= True)

In [ ]:
#todos tienen el mismo valor, no aporta información real, por lo que procedemos a borrarla.

df_hr["EmployeeCount"].unique()

In [ ]:
eliminar_columnas("EmployeeCount")

In [ ]:
df_hr