CONEXIONES E IMPORTACIONES

In [46]:
# Para tratamiento de datos
import pandas as pd
import numpy as np

# Para visualizaciÃ³n de datos
import matplotlib.pyplot as plt
import seaborn as sns

# Para poder visualizar todas las columnas de los DataFrames
pd.set_option('display.max_columns', None) 

# GestiÃ³n de los warnings
import warnings
warnings.filterwarnings("ignore")

df_hr = pd.read_csv("./datasets/hr.csv")

# EDA

Fase 1: AnÃ¡lisis Exploratorio de Datos(EDA).

Antes de llevar a cabo el proyecto es crucial comprender mejor el conjunto de datos y sus caracterÃ­sticas. Para ello deberÃ¡s hacer un anÃ¡lisis exploratorio detallado del conjunto de datos para familiarizarte con ellos y entender que informaciÃ³n tenemos.

## Columnas del Dataset

| Columna | DescripciÃ³n |
| :--- | :--- |
| **Age** | Edad del empleado. |
| **Attrition** | Indica si el empleado dejÃ³ la empresa (**Yes/No**). |
| **BusinessTravel** | Frecuencia de viajes laborales (ej. Travel_Rarely, Travel_Frequently). |
| **DailyRate** | Tarifa diaria estimada basada en el salario. |
| **Department** | Departamento en el que trabaja el empleado. |
| **DistanceFromHome** | Distancia desde el hogar hasta el lugar de trabajo. |
| **Education** | Nivel educativo representado en una escala numÃ©rica. |
| **EducationField** | Campo o Ã¡rea de estudios del empleado. |
| **EmployeeCount** | Valor constante (normalmente 1), indica un empleado por registro. |
| **EmployeeNumber** | Identificador Ãºnico del empleado. |
| **EnvironmentSatisfaction** | Nivel de satisfacciÃ³n con el entorno laboral. |
| **Gender** | GÃ©nero del empleado. |
| **HourlyRate** | Tarifa por hora estimada. |
| **JobInvolvement** | Nivel de implicaciÃ³n del empleado en su trabajo. |
| **JobLevel** | Nivel jerÃ¡rquico del puesto. |
| **JobRole** | Rol o puesto especÃ­fico del empleado. |
| **JobSatisfaction** | Nivel de satisfacciÃ³n con el trabajo. |
| **MaritalStatus** | Estado civil del empleado. |
| **MonthlyIncome** | Ingreso mensual estimado. |
| **MonthlyRate** | Tarifa mensual estimada. |
| **NumCompaniesWorked** | NÃºmero de empresas en las que ha trabajado previamente. |
| **Over18** | Indica si el empleado es mayor de 18 aÃ±os. |
| **OverTime** | Indica si el empleado realiza horas extra (**Yes/No**). |
| **PercentSalaryHike** | Porcentaje de incremento salarial. |
| **PerformanceRating** | EvaluaciÃ³n del desempeÃ±o del empleado. |
| **RelationshipSatisfaction** | Nivel de satisfacciÃ³n con las relaciones laborales. |
| **StandardHours** | Horas estÃ¡ndar de trabajo. |
| **StockOptionLevel** | Nivel de opciones sobre acciones asignadas. |
| **TotalWorkingYears** | Total de aÃ±os de experiencia laboral. |
| **TrainingTimesLastYear** | NÃºmero de formaciones recibidas en el Ãºltimo aÃ±o. |
| **WorkLifeBalance** | Nivel de equilibrio entre vida personal y laboral. |
| **YearsAtCompany** | AÃ±os que el empleado lleva en la empresa. |
| **YearsInCurrentRole** | AÃ±os en el rol actual. |
| **YearsSinceLastPromotion** | AÃ±os transcurridos desde la Ãºltima promociÃ³n. |
| **YearsWithCurrManager** | AÃ±os trabajando con el gerente actual. |

1. Estandarizar nombre columnas
2. âœ” - eliminar duplicados (EmployeeNumber)
3. âœ” - borrar "EmployeeCount"
4. âœ” - revisar tipo datos
5. "Education" + "EducationField" - > revisar
6. valorar cambiar los nombres de valores en segÃºn que columnas ("RelationshipSatisfaction", "PerformanceRating", )
7. Revisar nulos ("StandardHours")
8. estandarizar columna "JobRole"

In [74]:
df_hr.head(2)

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeNumber,EnvironmentSatisfaction,Gender,HourlyRate,JobInvolvement,JobLevel,JobRole,JobSatisfaction,MaritalStatus,MonthlyIncome,MonthlyRate,NumCompaniesWorked,Over18,OverTime,PercentSalaryHike,PerformanceRating,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,Medium,Female,94,High,2,sALES eXECUTIVE,Very High,Single,5993.0,19479,8,Y,Yes,11,3,Low,80,0,8,0,Bad,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,2,High,Male,61,Medium,2,rESEARCH sCIENTIST,Medium,Married,5130.0,24907,1,Y,No,23,4,Very High,<NA>,1,10,3,Better,10,7,1,7

In [54]:
df_hr.describe().T

,count,mean,std,min,25%,50%,75%,max
Age,1397.0,36.942734,9.095617,18.0,30.00,36.0,43.00,60.0
DailyRate,1470.0,802.485714,403.509100,102.0,465.00,802.0,1157.00,1499.0
DistanceFromHome,1470.0,9.192517,8.106864,1.0,2.00,7.0,14.00,29.0
Education,1470.0,2.912925,1.024165,1.0,2.00,3.0,4.00,5.0
EmployeeCount,1470.0,1.000000,0.000000,1.0,1.00,1.0,1.00,1.0
EmployeeNumber,1470.0,1024.865306,602.024335,1.0,491.25,1020.5,1555.75,2068.0
EnvironmentSatisfaction,1470.0,2.721769,1.093082,1.0,2.00,3.0,4.00,4.0
HourlyRate,1470.0,65.891156,20.329428,30.0,48.00,66.0,83.75,100.0
JobInvolvement,1470.0,2.729932,0.711561,1.0,2.00,3.0,3.00,4.0
JobLevel,1470.0,2.063946,1.106940,1.0,1.00,2.0,3.00,5.0
JobSatisfaction,1441.0,2.732130,1.105103,1.0,2.00,3.0,4.00,4.0
MonthlyIncome,1456.0,6498.683379,4709.394593,1009.0,2909.00,4907.0,8353.50,19999.0
MonthlyRate,1470.0,14313.103401,7117.786044,2094.0,8047.00,14235.5,20461.50,26999.0
NumCompaniesWorked,1470.0,2.693197,2.498009,0.0,1.00,2.0,4.00,9.0
PercentSalaryHike,1470.0,15.209524,3.659938,11.0,12.00,14.0,18.00,25.0
PerformanceRating,1470.0,3.153741,0.360824,3.0,3.00,3.0,3.00,4.0
RelationshipSatisfaction,1470.0,2.712245,1.081209,1.0,2.00,3.0,4.00,4.0
StandardHours,1309.0,80.000000,0.000000,80.0,80.00,80.0,80.00,80.0
StockOptionLevel,1470.0,0.793878,0.852077,0.0,0.00,1.0,1.00,3.0
TotalWorkingYears,1470.0,11.279592,7.780782,0.0,6.00,10.0,15.00,40.0
TrainingTimesLastYear,1382.0,2.798119,1.297989,0.0,2.00,3.0,3.00,6.0
WorkLifeBalance,1470.0,2.761224,0.706476,1.0,2.00,3.0,3.00,4.0
YearsAtCompany,1470.0,7.008163,6.126525,0.0,3.00,5.0,9.00,40.0
YearsInCurrentRole,1470.0,4.229252,3.623137,0.0,2.00,3.0,7.00,18.0
YearsSinceLastPromotion,1470.0,2.187755,3.222430,0.0,0.00,1.0,3.00,15.0
YearsWithCurrManager,1323.0,4.068783,3.517918,0.0,2.00,3.0,7.00,17.0

In [67]:
df_hr.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1470 entries, 0 to 1469
Data columns (total 34 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       1397 non-null   Int64
 1   Attrition                 1470 non-null   object
 2   BusinessTravel            1353 non-null   object
 3   DailyRate                 1470 non-null   int64
 4   Department                1441 non-null   object
 5   DistanceFromHome          1470 non-null   int64
 6   Education                 1470 non-null   int64
 7   EducationField            1412 non-null   object
 8   EmployeeNumber            1470 non-null   int64
 9   EnvironmentSatisfaction   1470 non-null   int64
 10  Gender                    1470 non-null   object
 11  HourlyRate                1470 non-null   int64
 12  JobInvolvement            1470 non-null   int64
 13  JobLevel                  1470 non-null   int64
 14  JobRole                   1470 non-null   object
 15  JobSatisfaction           1441 non-null   float64
 16  MaritalStatus             1338 non-null   object
 17  MonthlyIncome             1456 non-null   float64
 18  MonthlyRate               1470 non-null   int64
 19  NumCompaniesWorked        1470 non-null   int64
 20  Over18                    1470 non-null   object
 21  OverTime                  1426 non-null   object
 22  PercentSalaryHike         1470 non-null   int64
 23  PerformanceRating         1470 non-null   int64
 24  RelationshipSatisfaction  1470 non-null   int64
 25  StandardHours             1309 non-null   Int64
 26  StockOptionLevel          1470 non-null   int64
 27  TotalWorkingYears         1470 non-null   int64
 28  TrainingTimesLastYear     1382 non-null   Int64
 29  WorkLifeBalance           1470 non-null   int64
 30  YearsAtCompany            1470 non-null   int64
 31  YearsInCurrentRole        1470 non-null   int64
 32  YearsSinceLastPromotion   1470 non-null   int64
 33  YearsWithCurrManager      1323 non-null   Int64
dtypes: Int64(4), float64(2), int64(19), object(9)
memory usage: 407.7+ KB

## EstandarizaciÃ³n columnas

In [65]:
# Estandarizamos el tipo de dato para las columnas numÃ©ricas, de float a INT.
def cambiar_int(col):
    if isinstance(col, str):
        col = [col]

    for i in col:
        df_hr[i] = df_hr[i].astype("Int64")

In [66]:
columnas_a_cambiar = ["Age", "StandardHours", "TrainingTimesLastYear", "YearsWithCurrManager"]

cambiar_int(columnas_a_cambiar)

In [ ]:
# Hay valores numÃ©ricos de grados de interpretaciÃ³n, los actualizamos para que sea mÃ¡s visual

def cat_low_veryhigh(col):
    niveles = {
        1: "Low",
        2: "Medium",
        3: "High",
        4: "Very High"}
    df_hr[col] = df_hr[col].replace(niveles)

In [71]:
columnas_a_cambiar = ["EnvironmentSatisfaction", "JobInvolvement", "JobSatisfaction", "RelationshipSatisfaction"]

cat_low_veryhigh(columnas_a_cambiar)

In [73]:
for fi in df_hr["WorkLifeBalance"]:
        niveles = {
              1: "Bad",
              2: "Good",
              3: "Better",
              4: "Best"  
        }
        df_hr["WorkLifeBalance"] = df_hr["WorkLifeBalance"].replace(niveles)

In [75]:
ðŸš§ðŸš§ðŸš§ðŸš§ðŸš§

SyntaxError: invalid character 'ðŸš§' (U+1F6A7) (421945861.py, line 1)

## Duplicados

In [49]:
# Se localizan 4 duplicados, resolveremos mÃ¡s adelante de quÃ© se tratan y se valorarÃ¡n borrarlos.
df_hr.duplicated().sum()

4

In [50]:
duplicados_por_columna = df_hr.apply(lambda x: x.duplicated().sum())

print(duplicados_por_columna)

Age                         1430
Attrition                   1472
BusinessTravel              1470
DailyRate                    588
Department                  1470
DistanceFromHome            1445
Education                   1469
EducationField              1467
EmployeeCount               1473
EmployeeNumber                 4
EnvironmentSatisfaction     1470
Gender                      1472
HourlyRate                  1403
JobInvolvement              1470
JobLevel                    1469
JobRole                     1465
JobSatisfaction             1469
MaritalStatus               1469
MonthlyIncome                137
MonthlyRate                   47
NumCompaniesWorked          1464
Over18                      1473
OverTime                    1471
PercentSalaryHike           1459
PerformanceRating           1472
RelationshipSatisfaction    1470
StandardHours               1472
StockOptionLevel            1470
TotalWorkingYears           1434
TrainingTimesLastYear       1466
WorkLifeBalance             1470
YearsAtCompany              1437
YearsInCurrentRole          1455
YearsSinceLastPromotion     1458
YearsWithCurrManager        1455
dtype: int64

In [51]:
#Localizamos que los duplicados se encuentran en nÃºmero de empleado, lo cual es muy importante subsanar.
df_hr["EmployeeNumber"].duplicated().value_counts()

EmployeeNumber
False    1470
True        4
Name: count, dtype: int64

In [52]:
# Creamos un nuevo DataFrame solo con las filas donde el ID de empleado estÃ¡ repetido
duplicados_id = df_hr[df_hr.duplicated(subset=['EmployeeNumber'], keep=False)]

# Ordenamos por esa columna para ver los repetidos uno al lado del otro
duplicados_id = duplicados_id.sort_values(by='EmployeeNumber')

duplicados_id

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,Gender,HourlyRate,JobInvolvement,JobLevel,JobRole,JobSatisfaction,MaritalStatus,MonthlyIncome,MonthlyRate,NumCompaniesWorked,Over18,OverTime,PercentSalaryHike,PerformanceRating,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
67,45.0,No,Travel_Rarely,1339,Research & Development,7,3,Life Sciences,1,86,2,Male,59,3,3,rESEARCH sCIENTIST,1.0,Divorced,9724.0,18787,2,Y,No,17,3,3,NaN,1,25,2.0,3,1,0,0,0.0
1473,45.0,No,Travel_Rarely,1339,Research & Development,7,3,Life Sciences,1,86,2,Male,59,3,3,rESEARCH sCIENTIST,1.0,Divorced,9724.0,18787,2,Y,No,17,3,3,NaN,1,25,2.0,3,1,0,0,0.0
184,53.0,No,Travel_Rarely,1084,Research & Development,13,2,Medical,1,250,4,Female,57,4,2,mANUFACTURING dIRECTOR,1.0,Divorced,4450.0,26250,1,Y,No,11,3,3,NaN,2,5,3.0,3,4,2,1,3.0
1471,53.0,No,Travel_Rarely,1084,Research & Development,13,2,Medical,1,250,4,Female,57,4,2,mANUFACTURING dIRECTOR,1.0,Divorced,4450.0,26250,1,Y,No,11,3,3,NaN,2,5,3.0,3,4,2,1,3.0
1041,28.0,No,Travel_Rarely,866,Sales,5,3,Medical,1,1469,4,Male,84,3,2,sALES eXECUTIVE,1.0,Single,8463.0,23490,0,Y,No,18,3,4,NaN,0,6,4.0,3,5,4,1,NaN
1470,28.0,No,Travel_Rarely,866,Sales,5,3,Medical,1,1469,4,Male,84,3,2,sALES eXECUTIVE,1.0,Single,8463.0,23490,0,Y,No,18,3,4,NaN,0,6,4.0,3,5,4,1,NaN
1222,24.0,Yes,Travel_Rarely,240,Human Resources,22,1,Human Resources,1,1714,4,Male,58,1,1,hUMAN rESOURCES,3.0,Married,1555.0,11585,1,Y,No,11,3,3,80.0,1,1,2.0,3,1,0,0,0.0
1472,24.0,Yes,Travel_Rarely,240,Human Resources,22,1,Human Resources,1,1714,4,Male,58,1,1,hUMAN rESOURCES,3.0,Married,1555.0,11585,1,Y,No,11,3,3,80.0,1,1,2.0,3,1,0,0,0.0

In [ ]:
# Se localizan duplicados de 4 empleados por nÃºmero de empleado, por lo que los borramos manteniendo el primero.
# Las lÃ­neas se encuentran totalmente repetidas, por lo que podemos borrarlas sin problema.

df_hr.drop_duplicates(subset = ['EmployeeNumber'], inplace = True)

## EliminaciÃ³n columnas

In [ ]:
# Creamos una funciÃ³n de borrado de columnas, para poder reutilizar en caso de que sea necesario mÃ¡s adelante.

def eliminar_columnas(col):
    df_hr.drop(col, axis=1, inplace= True)

In [ ]:
#todos tienen el mismo valor, no aporta informaciÃ³n real, por lo que procedemos a borrarla.

df_hr["EmployeeCount"].unique()

array([1], dtype=int64)

In [59]:
eliminar_columnas("EmployeeCount")

In [60]:
df_hr

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeNumber,EnvironmentSatisfaction,Gender,HourlyRate,JobInvolvement,JobLevel,JobRole,JobSatisfaction,MaritalStatus,MonthlyIncome,MonthlyRate,NumCompaniesWorked,Over18,OverTime,PercentSalaryHike,PerformanceRating,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41.0,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,2,Female,94,3,2,sALES eXECUTIVE,4.0,Single,5993.0,19479,8,Y,Yes,11,3,1,80.0,0,8,0.0,1,6,4,0,5.0
1,49.0,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,2,3,Male,61,2,2,rESEARCH sCIENTIST,2.0,Married,5130.0,24907,1,Y,No,23,4,4,NaN,1,10,3.0,3,10,7,1,7.0
2,37.0,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,4,4,Male,92,2,1,lABORATORY tECHNICIAN,3.0,Single,2090.0,2396,6,Y,Yes,15,3,2,NaN,0,7,3.0,3,0,0,0,0.0
3,33.0,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,5,4,Female,56,3,1,rESEARCH sCIENTIST,3.0,Married,2909.0,23159,1,Y,Yes,11,3,3,80.0,0,8,3.0,3,8,7,3,0.0
4,27.0,No,Travel_Rarely,591,Research & Development,2,1,Medical,7,1,Male,40,3,1,lABORATORY tECHNICIAN,2.0,Married,3468.0,16632,9,Y,No,12,3,4,80.0,1,6,3.0,3,2,2,2,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465,36.0,No,Travel_Frequently,884,Research & Development,23,2,Medical,2061,3,Male,41,4,2,lABORATORY tECHNICIAN,4.0,Married,2571.0,12290,4,Y,No,17,3,3,80.0,1,17,3.0,3,5,2,0,3.0
1466,39.0,No,Travel_Rarely,613,Research & Development,6,1,Medical,2062,4,Male,42,2,3,hEALTHCARE rEPRESENTATIVE,1.0,Married,9991.0,21457,4,Y,No,15,3,1,80.0,1,9,5.0,3,7,7,1,7.0
1467,27.0,No,Travel_Rarely,155,Research & Development,4,3,Life Sciences,2064,2,Male,87,4,2,mANUFACTURING dIRECTOR,2.0,Married,6142.0,5174,1,Y,Yes,20,4,2,80.0,1,6,0.0,3,6,2,0,3.0
1468,49.0,No,Travel_Frequently,1023,Sales,2,3,Medical,2065,4,Male,63,2,2,sALES eXECUTIVE,2.0,Married,5390.0,13243,2,Y,No,14,3,4,80.0,0,17,3.0,2,9,6,0,8.0
1469,34.0,No,Travel_Rarely,628,Research & Development,8,3,Medical,2068,2,Male,82,4,2,lABORATORY tECHNICIAN,3.0,Married,4404.0,10228,2,Y,No,12,3,1,NaN,0,6,3.0,4,4,3,1,2.0